[Unit]
Description=Home Dashboard API
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/source/home-dash/scripts/docker-run.sh
WorkingDirectory=/home/pi/source/home-dash/
StandardOutput=inherit
StandardError=inherit
User=root
Restart=always

[Install]
WantedBy=multi-user.target